body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: .85em;
	margin: 0;
	padding: 15px; 
}

h1 { font-size: 1.4em; }

a, a:active, a:visited { color: #0000ff }

td, th {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
td { border-left: 1px solid #ccc }
tr.last_row td, tr.last_row th { border-bottom: none; }

#menu, #submenu, #footer { width: 100%; }
#menu a, #menu .spacer {
	background-color: #6688ee;
	border-right: 1px solid #FFF;
	color: #FFF;
	font-weight: bold;
	padding: 7px 15px 7px 15px;
	float: left;
	text-decoration: none;
}
#menu .spacer, #submenu .spacer { float: none; }
#menu a:hover, #menu a.selected {
	background-color: #465ea6;
}

#submenu {
	background-color: #e3e9ff;
	border-bottom: 1px solid #bbccff;
	margin-bottom: 25px;
}
#submenu h1, #submenu p {
	margin: 0;
	padding: 5px 10px 5px 10px;
}
#submenu a, #submenu .spacer {
	margin-left: 10px;
	margin-top: 15px;
	padding: 5px 10px 5px 10px;
}
#submenu a {
	float: left;
	border-left: 1px solid #e3e9ff;
	border-right: 1px solid #e3e9ff;
	border-top: 1px solid #e3e9ff;
}
#submenu a.selected {
	background-color: #fff;
	border-left: 1px solid #bbccff;
	border-right: 1px solid #bbccff;
	border-top: 1px solid #bbccff;
}

#notice { margin: -45px 0 20px 0; }
#notice p {
	background-color: #ffff3f;
	margin: 0 auto;
	padding: 5px;
	max-width: 450px;
	text-align: center;
}

#footer {
	border-top: 3px solid #bbccff;
	margin-top: 40px;
}
#footer p { text-align: center; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
