{{define "body"}}<div id="feed">
	{{range $index, $element := $.timeline}}<div id="update_{{$index}}">
      {{with $element}}<h1>
		  <a href="{{.UserUrl}}" class="user_link">{{.User}}</a>
		  {{if .Link}}<a href="{{.Link}}">{{end}}{{$element.Heading}}{{if .Link}}</a>{{end}}
      </h1>
      {{if .Content}}<p>{{if .Link}}<a href="{{.Link}}">{{end}}{{.Content}}{{if .Link}}</a>{{end}}</p>{{end}}
      <p class="link">
		  {{formatTime .Created}} on <a href="http://{{.Name}}.com">{{.NameTitle}}</a>
      </p>
    </div>{{end}}{{end}}
</div>
<div class="pagination">
	{{pagination $.current}}
</div>{{end}}
