<html>
  <head>
    {{template "head" .}}
    <link href="/static/stylesheets/admin.css" media="all" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <ul>
        <li><a href="/manage">Site</a></li>
        <li><a href="/manage/pages">Pages</a></li>
        <li><a href="/manage/networks">Networks</a></li>
        <li class="log_in_out"><a href="/">Back to website</a></li>
      </ul>
      <h1>Autosite</h1>
    </div>
    <div id="content">
      {{template "body" .}}
    </div>
    <div id="footer">
      <p>Powered by <a href="http://github.com/paceline/autosite-go">Autosite</a>, created by <a href="http://ulfmoehring.net">Ulf M&ouml;hring</a></p>
    </div>
  </head>
</html>
