{{define "website"}}<!DOCTYPE html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/javascripts/application.js"></script>
		<link href="/static/stylesheets/admin.css" media="all" rel="stylesheet" type="text/css" />
		{{template "head" .}}
	</head>
	<body>
		<div id="menu">
			<a href="/manage">Site</a>
			<a href="/manage/pages">Pages</a>
			<a href="/manage/networks">Networks</a>
			<a href="/">Back to website</a>
			<div class="spacer">&nbsp;</div>
		</div>
		{{if $.notice}}<div id="notice">
			{{range $.notice}}<p>{{.}}</p>{{end}}
		</div>{{end}}
		<div id="submenu">
			<h1>Autosite</h1>
		{{template "body" .}}
		<div id="footer">
			<p>Powered by <a href="http://github.com/paceline/autosite-go">Autosite</a>, created by <a href="http://ulfmoehring.net">Ulf M&ouml;hring</a></p>
		</div>
	</body>
</html>{{end}}
