{{define "head"}}<title>Autosite admin area - Site</title>{{end}}
{{define "body"}}<p>Welcome back. Please edit this stuff.</p>
</div>
{{with $.content}}<form accept-charset="UTF-8" action="/manage" method="post">
	{{with $.key}}<input name="Key" type="hidden" value="{{.}}" />{{end}}
	<table>
		<tr>
			<th>Site title</th>
			<td>
				<input id="site_title" maxlength="255" name="SiteTitle" type="text" value="{{.SiteTitle}}" />
				<p>Pick a name for your website</p>
			</td>
		</tr>
		<tr>
			<th>Homepage title</th>
			<td>
				<input id="homepage_title" maxlength="255" name="HomepageTitle" type="text" value="{{.HomepageTitle}}" />
				<p>Pick a name for your homepage</p>
			</td>
		</tr>
		<tr>
			<th>Footer</th>
			<td>
				<textarea cols="75" id="footer" name="Footer" rows="5">{{.Footer}}</textarea>
				<p>Something along the lines of Copyright 2010 me</p>
			</td>
		</tr>
		<tr>
			<th>Web root</th>
			<td>
				<input id="web_root" maxlength="255" name="WebRoot" type="text" value="{{.WebRoot}}" />
				<p>URL that points to your start page (e.g. http://yourname.com)</p>
			</td>
		</tr>
		<tr class="last_row">
			<th>Tracker code</th>
			<td>
				<textarea cols="75" id="tracker_code" name="TrackerCode" rows="10">{{.TrackerCodeString}}</textarea>
				<p>If you'd like to use Google Analytics and the like</p>
			</td>
		</tr>
		<tr class="last_row">
			<th></th>
			<td>
				<input class="update" id="site_submit" name="commit" type="submit" value="Save changes" />
			</td>
		</tr>
	</table>
</form>{{end}}{{end}}
